:root {
  --text-align: center;
  --primary-color: white;
  --secondary-color: #ffe700;
}

body {
  background: white;
}

h1 {
  text-align: var(--text-align);
  padding: 5px 5px;
  margin: 10px;
}

p {
  text-align: var(--text-align);
  margin-right: 30px;
}

img {
  display: block;
  margin: 0 auto;
}
