body {
  background: #bbd6e1;
}

h1,
h2,
h3,
p {
  text-align: center;
  color: #f73168;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

footer {
  text-align: center;
  margin: 0 10px;
}

footer a {
  margin: 0 10px;
}
